body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}


/* MY STYLE OVERRIDES */
/* background color changes */
#header,
#lets-connect {
    background: #74faff;
}

#workExperience,
#education {
    background: #cafffb;
}

#projects,
#lets-connect h2 {
    background: #eafdff;
}

/* font changes */
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans', sans-serif;
}

#name {
    color: #1acbff;
}

#name + span,
#skills-h3,
#education h3 {
    font-style: italic;
    color: #7b8ed4;
}

#topContacts .orange-text,
#footerContacts .orange-text {
    color: #74b4d6;
}

.welcome-message,
h2 {
    font-size: 20px;
    color: #28b6ff;
    text-decoration: underline;
}

/* add borders and animations to images */
#header img {
    padding: 2px;
    border: 1px solid #fff;
}

.project-entry img {
    width: 300px;
    padding: 1px;
    border: 1px solid #9e9e9e;
    margin-right: 5px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.zoom {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

/* add menu to the page */
.menu {
    background: #00c1c1;
}

.menu a {
    color: #fff;
    margin-top: 0;
    text-decoration: underline;
}

.menu a:hover {
    color: #5f6dad;
}

/* add to top button */
.to-top {
    display: none;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 50px;
    height: 50px;
    padding-top: 2px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    background: #0168af;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}

.to-top.visible {
    display: block;
}

/* style internationalize button in the header */
#header button {
    float: right;
    height: 32px;
    width: 140px;
    margin-top: 8px;
    border: 1px solid #00BCC3;
    background: #41DCFF;
    color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 12px -3px #007CEF;
    cursor: pointer;
}
