<<<<<<< HEAD
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}
body { margin: 0; font-size: 14px; line-height: 1.61; font-weight: 400; }
body, button, input, select, textarea { font-family: 'Open Sans', sans-serif; color: #333; }

a { color: #12C; }
a:visited { color: #61C; }
a:focus { outline: thin dotted; }
a:hover, a:active { color: #c00; outline: 0; }

b, strong { font-weight: bold; }
pre, code { font-family: monospace, monospace; font-size: 1em; }
ul, ol { margin: 1em 0; padding: 0 0 0 20px; }
img { border: 0; max-width: 100%; }

body { background: #fff; }
header, footer, .container { max-width: 45em; margin: 0 auto; }

header { padding: 0 0.5em; color: #C90B0B; }
header img { border-radius: 40px; float: left; }
header p { font-size:1.5em; font-weight: bold; padding-left: 4em;}
header p span { font-size: 0.8em; font-weight: normal;}

.hero { padding: 2em; background-color: #f8f8f8; font-size:1.2em;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.content { padding: 1em 1em; }
.content li { list-style-type: none; font-size: 1.1em;}
li img { float:left; padding-right: 1em; }
li p { font-size: 0.9em; font-style: italic; }

footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}
footer span { float: right; font-style: italic; }

/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {
  body { font-size: 12px;}
  header p { padding-left: 4.5em;}
=======
div {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-menu {
    width: auto;
    display: block;
    overflow: hidden;
    margin-bottom: -35px;
}

.game-menu h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #c35101;
    text-decoration: underline;
}

.char-menu,
.difficulty-menu,
.obstacles-settings {
    float: left;
    width: 33%;
    position: relative;
    z-index: 2;
}

.char-menu ul,
.difficulty-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.char-menu ul li,
.difficulty-menu ul li {
    width: 100%;
}

.char-menu ul {
    width: 200px;
    margin: 0 auto;
}

.difficulty-menu ul {
    width: 545px;
    margin: 0 auto;
}

.char-menu a {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    color: darksalmon;
    text-decoration: none;
}

.difficulty-menu a {
    color: darksalmon;
    text-decoration: none;
    display: block;
    height: 23px;
    text-align: left;
}

.difficulty-menu a.selected {
    text-decoration: underline;
}

.difficulty-menu a span {
    font-weight: 700;
}

.obstacles-settings {
    padding-top: 70px;
}

.obstacles-settings a {
    margin: 0 auto;
    display: block;
    height: 36px;
    width: 380px;
    line-height: 36px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 1px 1px 5px -1px #bd5b21;
}

.obstacles-on-off {
    background: #ff7070;
    margin-bottom: 15px !important;
}

.obstacles-reset {
    background: #f7967a;
}

.char-menu ul i {
    display: inline-block;
    width: 30px;
    height: 33px;
    margin-right: 15px;
}

.char-menu ul .boy i {
    background: url(../images/char-boy.png);
    background-size: 100%;
    background-position: 0 -12px;
}

.char-menu ul .cat-girl i {
    background: url(../images/char-cat-girl.png);
    background-size: 100%;
    background-position: 0 -12px;
}

.char-menu ul .horn-girl i {
    background: url(../images/char-horn-girl.png);
    background-size: 100%;
    background-position: 0 -12px;
}

.char-menu ul .pink-girl i {
    background: url(../images/char-pink-girl.png);
    background-size: 100%;
    background-position: 0 -12px;
}

.char-menu ul .princess-girl i {
    background: url(../images/char-princess-girl.png);
    background-size: 100%;
    background-position: 0 -12px;
>>>>>>> b1c99232ad6ff7dcafebc3415a40f08744f3ce38
}
