.faq-menu-item,
.screen--about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype')
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDR-eWpsHSw83BRsAQElGgc.ttf) format('truetype')
}

a,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
i,
iframe,
img,
ins,
label,
li,
menu,
nav,
ol,
output,
p,
pre,
q,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

img {
    vertical-align: top
}

a {
    cursor: pointer;
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
    overflow: hidden;
    width: 100vw;
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    width: 100vw;
}

.bold {
    font-weight: 700
}

.container {
    overflow-x: hidden;
    width: 100vw;
}

.home-background {
    width: 100vw;
    height: 100vh;
    background: url(../img/home_bg.jpg) bottom left no-repeat;
    background-size: cover;
    will-change: transform;
}

@media (max-width:767px) {
    .hide-mobile {
        display: none
    }
    .home-background {
        background: url(../img/home_bg-m.jpg) bottom left no-repeat;
        background-size: cover
    }
}

.screen {
    position: relative;
    height: 100vh
}

.screen--home {
    width: 150vw
}

.screen .home-content {
    width: 100vw
}

.screen .dots-block {
    height: 100%;
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
    background: #df715a;
    box-shadow: inset 10px 0 30px -10px #333, inset -8px 0 30px -10px #333;
    will-change: transform;
}

@media (max-width:767px) {
    .screen--home {
        width: calc(200vw - 42px)
    }
    .screen .dots-block {
        width: calc(100vw - 42px)
    }
}

.menu-btn {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 38px;
    display: inline-block;
    z-index: 4
}

.menu-btn a,
.menu-btn span {
    width: 100%;
    display: inline-block
}

.menu-btn a {
    font-size: 0;
    position: relative;
    height: 31px
}

.menu-btn span {
    position: absolute;
    height: 1px;
    background: #333;
    -webkit-transition: all .3s;
    transition: all .3s
}

.menu-btn span:first-child {
    top: 0
}

.menu-btn span:nth-child(2) {
    top: 8px
}

.menu-btn span:nth-child(3) {
    top: 16px
}

.menu-btn span:last-child {
    top: 24px
}

.menu-btn--cross span,
.menu-btn--white span {
    background: #fff
}

.menu-btn--cross span:nth-child(1) {
    top: 1px;
    left: 2px;
    -webkit-transform: rotate(45deg) scaleX(.5);
    transform: rotate(45deg) scaleX(.5)
}

.menu-btn--cross span:nth-child(2) {
    top: 1px;
    left: calc(50% - 3px);
    -webkit-transform: rotate(-45deg) scaleX(.5);
    transform: rotate(-45deg) scaleX(.5)
}

.menu-btn--cross span:nth-child(3) {
    top: 15px;
    left: 2px;
    -webkit-transform: rotate(-45deg) scaleX(.5);
    transform: rotate(-45deg) scaleX(.5)
}

.menu-btn--cross span:nth-child(4) {
    top: 15px;
    left: calc(50% - 3px);
    -webkit-transform: rotate(45deg) scaleX(.5);
    transform: rotate(45deg) scaleX(.5)
}

@media (max-width:1024px) {
    .menu-btn {
        top: 20px;
        left: 15px
    }
}

@media (max-width:767px) {
    .menu-btn {
        width: 24px;
        top: 14px;
        left: 10px
    }
    .menu-btn a {
        height: 19px
    }
    .menu-btn span:first-child {
        top: 0
    }
    .menu-btn span:nth-child(2) {
        top: 6px
    }
    .menu-btn span:nth-child(3) {
        top: 12px
    }
    .menu-btn span:last-child {
        top: 18px
    }
    .menu-btn--cross span:nth-child(1) {
        top: 2px
    }
    .menu-btn--cross span:nth-child(2) {
        top: 2px;
        left: calc(50% - 2px)
    }
    .menu-btn--cross span:nth-child(3) {
        top: 10px
    }
    .menu-btn--cross span:nth-child(4) {
        top: 10px;
        left: calc(50% - 2px)
    }
}

.btn-features,
.btn-find-out {
    border-radius: 30px;
    margin: 0 auto;
    left: 50vw;
    z-index: 1;
    position: absolute;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase
}

.btn {
    display: inline-block;
    text-align: center
}

.btn-features {
    top: calc(390.55px + 155px + 10px + 144px + 30px);
    background: #df715a;
    padding: 20px 45px;
    font-size: 16px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media (max-width:1400px) {
    .btn-features {
        top: calc(321.93px + 145px + 10px + 123px + 30px)
    }
}

@media (max-width:1024px) {
    .btn-features {
        top: calc(318.4px + 100px + 100px + 20px);
        padding: 18px 40px;
        font-size: 13px
    }
}

@media (max-width:767px) {
    .btn-features {
        top: auto;
        bottom: 205px;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        padding: 15px 40px;
        font-size: 11px
    }
}

.btn-find-out {
    opacity: 0;
    visibility: hidden;
    top: calc(390.55px + 155px + 10px + 144px + 30px);
    background: #151515;
    padding: 20px 90px;
    font-size: 16px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.btn-find-out::after,
.btn-find-out::before {
    content: '\2193';
    position: absolute;
    color: #fff;
    top: 50%;
    -webkit-transform: translateY(-19px);
    transform: translateY(-19px);
    left: 40px;
    font-size: 22px
}

.btn-find-out::after {
    left: auto;
    right: 40px
}

@media (max-width:1400px) {
    .btn-find-out {
        top: calc(321.93px + 145px + 10px + 123px + 30px)
    }
}

@media (max-width:1024px) {
    .btn-find-out {
        top: 535px;
        padding: 18px 50px;
        font-size: 13px
    }
    .btn-find-out::after,
    .btn-find-out::before {
        -webkit-transform: translateY(-14px);
        transform: translateY(-14px);
        left: 20px;
        font-size: 16px
    }
    .btn-find-out::after {
        left: auto;
        right: 20px
    }
}

@media (max-width:767px) {
    .btn-find-out {
        top: 445px;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        padding: 15px 50px;
        font-size: 11px
    }
}

@-webkit-keyframes waves1 {
    0%,
    100% {
        border-color: #fff
    }
    25% {
        border-color: rgba(255, 255, 255, .3)
    }
    50% {
        border-color: rgba(255, 255, 255, .15)
    }
    75% {
        border-color: transparent
    }
}

@keyframes waves1 {
    0%,
    100% {
        border-color: #fff
    }
    25% {
        border-color: rgba(255, 255, 255, .3)
    }
    50% {
        border-color: rgba(255, 255, 255, .15)
    }
    75% {
        border-color: transparent
    }
}

@-webkit-keyframes waves2 {
    0%,
    100% {
        border-color: transparent
    }
    25% {
        border-color: #fff
    }
    50% {
        border-color: rgba(255, 255, 255, .3)
    }
    75% {
        border-color: rgba(255, 255, 255, .15)
    }
}

@keyframes waves2 {
    0%,
    100% {
        border-color: transparent
    }
    25% {
        border-color: #fff
    }
    50% {
        border-color: rgba(255, 255, 255, .3)
    }
    75% {
        border-color: rgba(255, 255, 255, .15)
    }
}

@-webkit-keyframes waves3 {
    0%,
    100% {
        border-color: rgba(255, 255, 255, .15)
    }
    25% {
        border-color: transparent
    }
    50% {
        border-color: #fff
    }
    75% {
        border-color: rgba(255, 255, 255, .3)
    }
}

@keyframes waves3 {
    0%,
    100% {
        border-color: rgba(255, 255, 255, .15)
    }
    25% {
        border-color: transparent
    }
    50% {
        border-color: #fff
    }
    75% {
        border-color: rgba(255, 255, 255, .3)
    }
}

.arrow-single {
    display: block;
    width: 21px;
    height: 21px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.slide-arrows-link,
.variations-link-btn {
    display: inline-block
}

.arrow-single--1 {
    -webkit-animation: 1.5s waves1 infinite;
    animation: 1.5s waves1 infinite
}

.arrow-single--2 {
    position: relative;
    top: -4px;
    -webkit-animation: 1.5s waves2 infinite;
    animation: 1.5s waves2 infinite
}

.arrow-single--3 {
    position: relative;
    top: -8px;
    -webkit-animation: 1.5s waves3 infinite;
    animation: 1.5s waves3 infinite
}

.slide-arrows-link .arrow-single {
    width: 15px;
    height: 15px
}

.variations-link-btn {
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    font-family: Georgia, serif;
    font-size: 15px;
    color: #fff;
    background: #df715a;
    margin: 0 5px 5px 0;
    -webkit-transition: all .3s;
    transition: all .3s
}

.about-content h2,
.faq-menu-item,
.home-text-block__title {
    font-family: RobotoCondensed, sans-serif
}

.menu-block,
.menu-list li {
    -webkit-transition: all .3s
}

.variations-link-btn:hover {
    background: #804235
}

.variations-link-btn--selected {
    height: 66px;
    line-height: 66px;
    padding: 0 50px;
    font-size: 30px;
    background: #804235!important
}

@media (max-width:1024px) {
    .variations-link-btn {
        font-size: 14px;
        padding: 0 18px;
        margin: 0 3px 3px 0
    }
    .variations-link-btn--selected {
        height: 42px;
        line-height: 42px;
        padding: 0 30px;
        font-size: 22px
    }
    .variations-link-btn:hover {
        background: #df715a
    }
}

@media (max-width:767px) {
    .variations-link-btn {
        font-size: 12px;
        height: 28px;
        line-height: 28px;
        padding: 0 15px
    }
    .variations-link-btn--selected {
        height: 38px;
        line-height: 38px;
        padding: 0 25px;
        font-size: 20px
    }
}

.logo-container--home-main {
    position: absolute;
    top: 0;
    left: 50vw;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 30px 0
}

.logo-container--home-main img {
    height: 95px;
    width: auto
}

@media (max-width:1024px) {
    .logo-container--home-main {
        padding: 15px 0
    }
    .logo-container--home-main img {
        height: 81px
    }
}

.logo-container--home-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px
}

.logo-container--home-dots span {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-right: 10px
}

.logo-container--home-dots img {
    width: 22px;
    height: 22px
}

@media (max-width:767px) {
    .logo-container--home-dots {
        top: 12px;
        right: 15px
    }
    .logo-container--home-dots span {
        font-size: 9px;
        margin-right: 6px
    }
}

.logo-container--corner {
    position: absolute;
    top: 30px;
    right: 30px
}

.logo-container--corner span {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700
}

.logo-container--no-text {
    text-align: center;
    margin-bottom: 35px
}

.logo-container--no-text img {
    height: 123px;
    width: 123px
}

@media (max-width:1024px) {
    .logo-container--no-text img {
        height: 110px;
        width: 110px
    }
}

@media (max-width:767px) {
    .logo-container--corner {
        top: 12px;
        right: 15px
    }
    .logo-container--corner span {
        font-size: 9px
    }
    .logo-container--no-text {
        margin-bottom: 25px
    }
    .logo-container--no-text img {
        height: 93px;
        width: 93px
    }
}

.menu-block {
    padding-top: 150px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 330px;
    background: rgba(21, 21, 21, .97);
    color: #fff;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 3;
    transition: all .3s
}

.menu-block--visible {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

@media (max-width:767px) {
    .menu-block {
        width: 100vw
    }
}

.menu-list {
    font-size: 15px;
    text-transform: uppercase
}

.menu-list li {
    margin-bottom: 25px;
    cursor: pointer;
    padding-left: 60px;
    position: relative;
    transition: all .3s
}

.menu-list li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 70px;
    height: 1px;
    background: #df715a;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .3s;
    transition: all .3s
}

.menu-list li.selected {
    padding-left: 80px;
    font-weight: 700;
    color: #df715a
}

.menu-list li.selected::before {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.social-links,
.tv-container {
    -webkit-transform: translateX(-50%)
}

.social-links {
    position: absolute;
    left: 50%;
    bottom: 12%;
    transform: translateX(-50%)
}

.social-links>a {
    position: relative;
    display: inline-block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #df715a;
    margin-right: 15px
}

.social-links>a:last-child {
    margin-right: 0
}

.social-links object {
    width: auto;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.tv-container {
    position: absolute;
    top: 155px;
    left: 50vw;
    transform: translateX(-50%);
    width: 620.5px;
    height: 390.55px;
    background: url(../img/tv_frame.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    z-index: 1;
    will-change: left, top, width, height, transform;
}

.tv-container__inner {
    width: 598.6px;
    height: 368.65px;
    position: relative;
    top: 8px;
    left: 7px
}

.tv-container__left {
    float: left;
    width: 83.65%
}

.tv-container__right {
    float: left;
    width: 16.35%
}

.tv-container img {
    width: 100%;
    height: auto
}

@media (max-width:1400px) {
    .tv-container {
        width: 504.43px;
        height: 321.93px;
        top: 145px
    }
    .tv-container__inner {
        width: 475.96px;
        height: 292px;
        top: 13px;
        left: 13px
    }
}

@media (max-width:1024px) {
    .tv-container {
        width: 480.48px;
        height: 306.46px;
        top: 110px
    }
    .tv-container__inner {
        width: 452.76px;
        height: 221.76px;
        top: 11px;
        left: 11px
    }
}

@media (max-width:767px) {
    .tv-container {
        top: 135px;
        width: 295.68px;
        height: 188.65px
    }
    .tv-container__inner {
        width: 278.74px;
        height: 277.2px;
        top: 7px;
        left: 7px
    }
}

.home-text-block {
    position: absolute;
    top: calc(390.55px + 155px + 10px);
    left: 50vw;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center
}

.home-text-block__title {
    font-size: 46px
}

.home-text-block__text {
    font-size: 17px;
    max-width: 500px;
    margin: 0 auto
}

@media (max-width:1400px) {
    .home-text-block {
        top: calc(321.93px + 145px + 10px)
    }
    .home-text-block__title {
        font-size: 38px
    }
    .home-text-block__text {
        font-size: 15px
    }
}

@media (max-width:1024px) {
    .home-text-block {
        top: calc(318.4px + 100px)
    }
    .home-text-block__title {
        font-size: 24px;
        margin-bottom: 5px
    }
    .home-text-block__text {
        font-size: 13px;
        max-width: 400px
    }
}

@media (max-width:767px) {
    .home-text-block {
        top: auto;
        bottom: 0;
        width: 100vw;
        height: 205px;
        padding-top: 35px;
        background: #333;
        color: #fff;
        left: 0;
        -webkit-transform: none;
        transform: none
    }
    .home-text-block__title {
        font-size: 19px
    }
    .home-text-block__text {
        font-size: 12px;
        font-weight: 300;
        max-width: 270px
    }
}

.dots-block__content {
    position: absolute;
    left: calc(50% + 10px);
    top: 130px
}

.dots-content-block {
    max-width: 240px;
    color: #fff;
    margin-bottom: 30px
}

.dots-content-block img {
    width: 40px;
    height: auto;
    margin-bottom: 8px
}

.dots-content-block h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px
}

.dots-content-block p {
    font-size: 16px;
    line-height: 1.4
}

@media (max-width:1400px) {
    .dots-content-block {
        max-width: 220px;
        margin-bottom: 20px
    }
    .dots-content-block h3 {
        font-size: 18px
    }
    .dots-content-block p {
        font-size: 14px
    }
}

@media (max-width:1024px) {
    .dots-block__content {
        top: 90px;
        left: 130px
    }
    .dots-content-block h3 {
        font-size: 16px
    }
    .dots-content-block p {
        font-size: 12px
    }
}

@media (max-width:767px) {
    .dots-block__content {
        top: 70px;
        left: calc(50% - 35px)
    }
    .dots-content-block {
        max-width: 200px;
        margin-bottom: 20px;
        padding-right: 15px
    }
    .dots-content-block img {
        width: 33px;
        margin-bottom: 6px
    }
    .dots-content-block h3 {
        font-size: 14px;
        margin-bottom: 8px
    }
    .dots-content-block p {
        font-size: 11px
    }
}

.dots-block__arrows {
    display: none;
    position: absolute;
    top: 130px;
    right: calc(75vw + 10px);
    z-index: 2
}

.dots-block__arrows .home-arrow {
    height: 156px;
    margin-bottom: 30px;
    position: relative;
    left: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.dots-block__arrows .home-arrow .arrow-line {
    display: inline-block;
    position: absolute;
    top: 62px;
    width: 0;
    right: 0;
    height: 1px;
    background: #fff;
    will-change: width;
}

.dots-block__arrows .home-arrow .arrow-line--mobile {
    display: none;
    will-change: width, height;
}

.dots-block__arrows .home-arrow .arrow-circle--inner {
    position: absolute;
    top: 62px;
    left: 11px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 0;
    height: 0;
    background: #fff;
    border-radius: 50%;
    will-change: width, height;
}

.dots-block__arrows .home-arrow .arrow-circle--outer {
    position: absolute;
    top: 62px;
    left: 11px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    width: 22px;
    height: 22px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    will-change: width, height;
}

.dots-block__arrows .home-arrow .arrow-circle--outer-visible {
    display: inline-block
}

.dots-block__arrows .home-arrow--1 {
    width: calc(25vw - 40px)
}

.dots-block__arrows .home-arrow--2 {
    width: calc(25vw - 45%)
}

.dots-block__arrows .home-arrow--3 {
    width: calc(25vw - 47%)
}

@media (max-width:1600px) {
    .dots-block__arrows .home-arrow--1 {
        width: calc(25vw - 30px)
    }
    .dots-block__arrows .home-arrow--2 {
        width: calc(25vw - 65%)
    }
    .dots-block__arrows .home-arrow--3 {
        width: calc(25vw - 67%)
    }
}

@media (max-width:1400px) {
    .dots-block__arrows .home-arrow--1 {
        width: calc(25vw - 30px)
    }
    .dots-block__arrows .home-arrow--2 {
        width: calc(25vw - 45%)
    }
    .dots-block__arrows .home-arrow--3 {
        width: calc(25vw - 47%)
    }
    .dots-block__arrows {
        top: 128px
    }
    .dots-block__arrows .home-arrow {
        height: 134px
    }
}

@media (max-width:1024px) {
    .dots-block__arrows .home-arrow--1 {
        width: 240px
    }
    .dots-block__arrows .home-arrow--2 {
        width: 130px
    }
    .dots-block__arrows .home-arrow--3 {
        width: 110px
    }
    .dots-block__arrows {
        top: 86px;
        right: calc(100vw - 110px)
    }
    .dots-block__arrows .home-arrow {
        height: 123px
    }
}

@media (max-width:767px) {
    .dots-block__arrows {
        right: calc(150vw - 7px);
        top: 70px
    }
    .dots-block__arrows .home-arrow {
        height: 116px;
        margin-bottom: 20px
    }
    .dots-block__arrows .home-arrow .arrow-line {
        top: 48px
    }
    .dots-block__arrows .home-arrow .arrow-line--mobile {
        display: inline-block;
        position: absolute;
        height: 1px;
        background: #fff
    }
    .dots-block__arrows .home-arrow .arrow-line--mobile-1 {
        top: 49px;
        width: 0;
        right: 0
    }
    .dots-block__arrows .home-arrow .arrow-line--mobile-2 {
        top: 49px;
        width: 1px;
        height: 0;
        right: calc(100% - 12px)
    }
    .dots-block__arrows .home-arrow .arrow-circle--inner {
        top: 49px
    }
    .dots-block__arrows .home-arrow .arrow-circle--outer {
        top: 49px;
        width: 19px;
        height: 19px
    }
    .dots-block__arrows .home-arrow--1 {
        width: calc(50vw - 52px)
    }
    .dots-block__arrows .home-arrow--2 {
        width: calc(50vw - 58px)
    }
    .dots-block__arrows .home-arrow--3 {
        width: calc(50vw - 110px)
    }
    .dots-block__arrows .home-arrow--3 .arrow-line {
        display: none
    }
    .dots-block__arrows .home-arrow--3 .arrow-circle--inner {
        top: -58px
    }
    .dots-block__arrows .home-arrow--3 .arrow-circle--outer {
        top: -58px;
        width: 19px;
        height: 19px
    }
}

.screen--about,
.select-section--host {
    background: #df715a
}

.screen--about {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.about-content {
    text-align: center;
    max-width: 860px;
    margin-bottom: 100px
}

.about-content h2 {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px
}

.about-content p {
    font-size: 16px
}

@media (max-width:1024px) {
    .about-content {
        padding: 40px 20px 0;
        margin-bottom: 50px
    }
    .about-content h2 {
        font-size: 16px;
        margin-bottom: 15px
    }
    .about-content p {
        font-size: 13px
    }
}

.slide-arrows--about {
    position: relative;
    text-align: center
}

@media (max-width:767px) {
    .about-content {
        padding: 35px 20px 30px;
        margin-bottom: 0
    }
    .about-content h2 {
        font-size: 12px;
        margin-bottom: 15px
    }
    .about-content p {
        font-size: 11px
    }
    .slide-arrows--about {
        position: relative;
        text-align: center;
        left: 0;
        -webkit-transform: none;
        transform: none;
        top: 0
    }
}

.select-section {
    width: 50%;
    float: left;
    height: 100%;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s
}

.select-section img,
.select-section__text {
    position: absolute;
    -webkit-transition: all .3s;
    top: 50%
}

.select-section img {
    height: 40%;
    width: auto;
    opacity: .3;
    transition: all .3s
}

@media (max-width:1400px) {
    .select-section img {
        height: 30%
    }
}

@media (max-width:1024px) {
    .select-section img {
        height: 180px
    }
}

.select-section__text {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    width: 300px;
    transition: all .3s
}

.select-section__text-hidden {
    display: none;
    height: 100px;
    margin: 25px 0 -100px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase
}

.select-section--advertiser.hovered .select-section__text-hidden,
.select-section--host.hovered .select-section__text-hidden {
    display: block
}

.select-section__text-hidden>span {
    margin-bottom: 20px
}

.select-section__text h2 {
    font-size: 24px;
    font-weight: 700
}

.select-section__text p {
    font-size: 14px
}

@media (max-width:1024px) {
    .select-section__text {
        width: 210px
    }
    .select-section__text h2 {
        font-size: 20px
    }
    .select-section__text p {
        font-size: 12px
    }
}

.select-section--host img {
    left: 0;
    -webkit-transform: translate(-42%, -50%) rotateY(180deg);
    transform: translate(-42%, -50%) rotateY(180deg)
}

.select-section--host .select-section__text {
    left: 45%
}

@media (max-width:1400px) {
    .select-section--host .select-section__text {
        left: 35%
    }
}

.select-section--host.hovered {
    width: calc(100% - 400px)
}

.select-section--host.hovered img {
    -webkit-transform: translate(-15%, -50%) rotateY(180deg);
    transform: translate(-15%, -50%) rotateY(180deg)
}

.select-section--host.hovered .select-section__text {
    left: 55%;
    text-align: center
}

@media (max-width:1400px) {
    .select-section--host.hovered .select-section__text {
        left: 45%
    }
}

@media (max-width:1024px) {
    .select-section--host.hovered {
        width: calc(100% - 250px)
    }
    .select-section--host.hovered img {
        -webkit-transform: translate(-25%, -50%) rotateY(180deg);
        transform: translate(-25%, -50%) rotateY(180deg)
    }
    .select-section--host.hovered .select-section__text {
        left: 40%
    }
}

.select-section--host.neighbour-hovered {
    width: 400px
}

.select-section--host.neighbour-hovered img {
    -webkit-transform: translate(-100%, -50%) rotateY(180deg);
    transform: translate(-100%, -50%) rotateY(180deg)
}

.select-section--host.neighbour-hovered .select-section__text {
    left: 50px;
    opacity: .5
}

@media (max-width:1024px) {
    .select-section--host.neighbour-hovered {
        width: 250px
    }
    .select-section--host.neighbour-hovered .select-section__text {
        left: 20px
    }
}

.select-section--advertiser {
    background: #c8614b
}

.select-section--advertiser img {
    right: 0;
    -webkit-transform: translate(42%, -50%);
    transform: translate(42%, -50%)
}

.select-section--advertiser .select-section__text {
    right: 45%;
    text-align: right
}

@media (max-width:1400px) {
    .select-section--advertiser .select-section__text {
        right: 35%
    }
}

.select-section--advertiser.hovered {
    width: calc(100% - 400px)
}

.select-section--advertiser.hovered img {
    -webkit-transform: translate(20%, -50%);
    transform: translate(20%, -50%)
}

.select-section--advertiser.hovered .select-section__text {
    right: 55%;
    text-align: center
}

@media (max-width:1400px) {
    .select-section--advertiser.hovered .select-section__text {
        right: 45%
    }
}

@media (max-width:1024px) {
    .select-section--advertiser.hovered {
        width: calc(100% - 250px)
    }
    .select-section--advertiser.hovered img {
        -webkit-transform: translate(10%, -50%);
        transform: translate(10%, -50%)
    }
    .select-section--advertiser.hovered .select-section__text {
        right: 40%
    }
}

.select-section--advertiser.neighbour-hovered {
    width: 400px
}

.select-section--advertiser.neighbour-hovered img {
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%)
}

.select-section--advertiser.neighbour-hovered .select-section__text {
    left: 50px;
    opacity: .5
}

@media (max-width:1024px) {
    .select-section--advertiser.neighbour-hovered {
        width: 250px
    }
    .select-section--advertiser.neighbour-hovered .select-section__text {
        left: 20px
    }
}

.screen-variation--toggled.screen-variation--advertiser .screen-variation__text,
.screen-variation--toggled.screen-variation--host .screen-variation__text {
    left: 50px
}

@media (max-width:767px) {
    .select-section {
        width: 100%;
        float: none;
        height: 50%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .select-section img {
        height: 78px;
        position: static;
        opacity: .3;
        -webkit-transform: none!important;
        transform: none!important;
        margin-bottom: 10px
    }
    .select-section__text {
        position: static;
        -webkit-transform: none;
        transform: none;
        width: 200px
    }
    .select-section__text-hidden {
        display: none;
        height: auto;
        margin: 40px 0 0;
        font-size: 12px
    }
    .select-section__text h2 {
        font-size: 18px;
        text-align: center!important
    }
    .select-section__text p {
        font-size: 11px;
        text-align: center!important
    }
    .select-section--host.hovered {
        width: 100%;
        height: 70%
    }
    .select-section--host.hovered .select-section__text-hidden {
        display: block
    }
    .select-section--host.neighbour-hovered {
        width: 100%;
        height: 30%
    }
    .select-section--host.neighbour-hovered img {
        display: none
    }
    .select-section--advertiser.hovered {
        width: 100%;
        height: 70%
    }
    .select-section--advertiser.hovered .select-section__text-hidden {
        display: block
    }
    .select-section--advertiser.neighbour-hovered {
        width: 100%;
        height: 30%
    }
    .select-section--advertiser.neighbour-hovered img {
        display: none
    }
}

.screen-variation {
    height: 100%;
    display: none;
}

.screen-variation.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.screen-variation--toggled .screen-variation__links {
    width: calc(100% - 400px)
}

.screen-variation--toggled .screen-variation__main {
    width: 400px
}

.screen-variation--toggled.screen-variation--host img {
    -webkit-transform: translate(-100%, -50%) rotateY(180deg);
    transform: translate(-100%, -50%) rotateY(180deg)
}

.screen-variation--toggled.screen-variation--advertiser img {
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%)
}

@media (max-width:1024px) and (min-width:768px) {
    .screen-variation--toggled .screen-variation__links {
        width: calc(100% - 250px)
    }
    .screen-variation--toggled .screen-variation__main {
        width: 250px
    }
}

@media (max-width:767px) {
    .screen-variation {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .screen-variation.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .screen-variation--advertiser {
        display: none
    }
    .screen-variation--advertiser .screen-variation__main {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
    .screen-variation--advertiser .screen-variation__links {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }
    .screen-variation--toggled .screen-variation__links,
    .screen-variation--toggled .screen-variation__main {
        width: 100%
    }
}

.screen-variation__links,
.screen-variation__main {
    width: 50%;
    float: left;
    height: 100%;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s
}

@media (max-width:767px) {
    .screen-variation__links,
    .screen-variation__main {
        float: none;
        width: 100%
    }
}

.screen-variation__main img {
    height: 40%;
    width: auto;
    position: absolute;
    top: 50%;
    opacity: .3;
    -webkit-transition: all .3s;
    transition: all .3s
}

@media (max-width:1400px) {
    .screen-variation__main img {
        height: 30%
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .screen-variation__main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .screen-variation__main img {
        position: static;
        -webkit-transform: none!important;
        transform: none!important;
        height: auto;
        width: 50%
    }
}

.screen-variation__text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    width: 300px;
    -webkit-transition: all .3s;
    transition: all .3s
}

.screen-variation__text h2 {
    font-size: 24px;
    font-weight: 700
}

.screen-variation__text p {
    font-size: 14px
}

@media (max-width:1400px) {
    .screen-variation__text {
        width: 280px
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .screen-variation__text {
        position: static;
        margin-top: 30px;
        width: 90%;
        -webkit-transform: none;
        transform: none;
        text-align: center!important
    }
    .screen-variation__text h2 {
        font-size: 20px
    }
    .screen-variation__text p {
        font-size: 12px
    }
}

@media (max-width:767px) {
    .screen-variation__main {
        height: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .screen-variation__main img {
        display: none
    }
    .screen-variation__text {
        position: static;
        -webkit-transform: none;
        transform: none;
        text-align: center!important
    }
    .screen-variation__text h2 {
        font-size: 18px;
        margin-bottom: 10px
    }
    .screen-variation__text p {
        font-size: 11px
    }
    .screen-variation__links {
        height: calc(100% - 150px)
    }
}

.screen-variation__links {
    background: url(../img/variations-bg.jpg) bottom left no-repeat;
    background-size: cover;
    padding: 0 75px;
    position: relative
}

.screen-variation__links-container {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 600px
}

@media (max-width:1024px) {
    .screen-variation__links {
        padding: 0 25px;
        text-align: center
    }
}

.screen-variation--host .screen-variation__main {
    background: #df715a
}

.screen-variation--host img {
    left: 0;
    -webkit-transform: translate(-42%, -50%) rotateY(180deg);
    transform: translate(-42%, -50%) rotateY(180deg)
}

.screen-variation--host .screen-variation__text {
    left: 45%
}

.screen-variation--advertiser .screen-variation__main {
    background: #c8614b
}

.screen-variation--advertiser img {
    right: 0;
    -webkit-transform: translate(42%, -50%);
    transform: translate(42%, -50%)
}

.screen-variation--advertiser .screen-variation__text {
    right: 45%;
    text-align: right
}

@media (max-width:1400px) {
    .screen-variation--host .screen-variation__text {
        left: 40%
    }
    .screen-variation--advertiser .screen-variation__text {
        right: 40%
    }
}

.faq-menu-item {
    height: calc(100% / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    -webkit-transition: height .3s ease-in;
    transition: height .3s ease-in
}

.faq-menu-item:nth-child(1) {
    background: #df715a
}

.faq-menu-item:nth-child(2) {
    background: #804235
}

.faq-menu-item:nth-child(3) {
    background: #c8614b
}

.faq-menu-item h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase
}

.faq-menu-item.hovered {
    height: 40%
}

.faq-menu-item.hovered h2 {
    font-weight: 300
}

.faq-menu-item.hovered .slide-arrows--faq {
    display: block
}

.faq-menu-item.neighbour-hovered {
    height: 30%
}

.slide-arrows--faq {
    display: none;
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center
}

.slide-arrows--faq .find-out-faq {
    display: block;
    margin-bottom: 40px
}

@-webkit-keyframes inner-dot-pop {
    0% {
        width: 0;
        height: 0
    }
    80% {
        width: 22px;
        height: 22px
    }
    100% {
        width: 12px;
        height: 12px
    }
}

@keyframes inner-dot-pop {
    0% {
        width: 0;
        height: 0
    }
    80% {
        width: 22px;
        height: 22px
    }
    100% {
        width: 12px;
        height: 12px
    }
}

@-webkit-keyframes inner-dot-pop-mobile {
    0% {
        width: 0;
        height: 0
    }
    80% {
        width: 19px;
        height: 19px
    }
    100% {
        width: 10px;
        height: 10px
    }
}

@keyframes inner-dot-pop-mobile {
    0% {
        width: 0;
        height: 0
    }
    80% {
        width: 19px;
        height: 19px
    }
    100% {
        width: 10px;
        height: 10px
    }
}

.screen--home .home-text-block,
.screen--home .logo-container--home-main {
    -webkit-transition: .5s opacity;
    transition: .5s opacity
}

.screen--home .tv-container,
.screen--home .tv-container__inner {
    -webkit-transition: .5s all;
    transition: .5s all
}

.screen--home .dots-block {
    -webkit-transition: .5s -webkit-transform;
    transition: .5s -webkit-transform;
    transition: .5s transform;
    transition: .5s transform, .5s -webkit-transform
}

.screen--home .btn-features {
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.screen--home .btn-find-out {
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.screen--home .home-background {
    -webkit-transition: .5s -webkit-transform;
    transition: .5s -webkit-transform;
    transition: .5s transform;
    transition: .5s transform, .5s -webkit-transform
}

.screen--home-shifting .btn-features,
.screen--home-shifting .home-text-block,
.screen--home-shifting .logo-container--home-main {
    opacity: 0
}

.screen--home-shifting .tv-container {
    width: 850px;
    height: 535px;
    top: 125px;
    left: calc(50vw - 100px)
}

.screen--home-shifting .tv-container__inner {
    width: 820px;
    height: 505px;
    top: 10px;
    left: 11px
}

.screen--home-shifting .dots-block {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.screen--home-shifting .btn-features {
    opacity: 0;
    visibility: hidden
}

.screen--home-shifting .btn-find-out {
    opacity: 1;
    visibility: visible
}

.screen--home-shifting .home-background {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px)
}

@media (max-width:1400px) {
    .screen--home-shifting .tv-container {
        width: 691px;
        height: 441px;
        left: calc(50vw - 130px)
    }
    .screen--home-shifting .tv-container__inner {
        width: 652px;
        height: 400px;
        top: 13px;
        left: 13px
    }
}

@media (max-width:1024px) {
    .screen--home-shifting .tv-container {
        width: 624px;
        height: 398px;
        top: 85px;
        left: calc(50vw - 237px)
    }
    .screen--home-shifting .tv-container__inner {
        width: 588px;
        height: 288px;
        top: 13px;
        left: 13px
    }
}

@media (max-width:767px) {
    .screen--home-shifting .tv-container {
        width: 384px;
        height: 245px;
        top: 64px;
        left: -75px
    }
    .screen--home-shifting .tv-container__inner {
        width: 362px;
        height: 360px;
        top: 9px;
        left: 10px
    }
    .screen--home-shifting .home-background {
        -webkit-transform: none;
        transform: none
    }
}

.screen--home-shifted .home-text-block,
.screen--home-shifted .logo-container--home-main {
    display: none
}

.screen--home-shifted .tv-container {
    width: 850px;
    height: 535px;
    top: 125px;
    left: calc(50vw - 100px)
}

.screen--home-shifted .tv-container__inner {
    width: 820px;
    height: 505px;
    top: 10px;
    left: 11px
}

.screen--home-shifted .dots-block {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.screen--home-shifted .btn-features {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .2s opacity ease-in;
    transition: .2s opacity ease-in;
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.screen--home-shifted .btn-find-out {
    opacity: 1;
    visibility: visible;
    -webkit-transition: .2s opacity ease-in;
    transition: .2s opacity ease-in;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.screen--home-shifted .home-background {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px)
}

.screen--home-shifted .dots-block__arrows {
    display: block
}

.screen--home-shifted .dots-block__arrows .arrow-line {
    -webkit-transition: width .5s ease-in;
    transition: width .5s ease-in
}

.screen--home-shifted .dots-block__arrows .arrow-line--mobile-1 {
    -webkit-transition: width .2s ease-in;
    transition: width .2s ease-in
}

.screen--home-shifted .dots-block__arrows .arrow-line--mobile-2 {
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.screen--home-shifted .dots-block__arrows .arrow-circle--inner {
    -webkit-animation: inner-dot-pop .5s forwards;
    animation: inner-dot-pop .5s forwards;
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.screen--home-shifted .dots-block__arrows--extending .arrow-line {
    width: calc(100% - 8px)
}

@media (max-width:1400px) {
    .screen--home-shifted .tv-container {
        width: 691px;
        height: 441px;
        left: calc(50vw - 130px)
    }
    .screen--home-shifted .tv-container__inner {
        width: 652px;
        height: 400px;
        top: 15px;
        left: 15px
    }
}

@media (max-width:1024px) {
    .screen--home-shifted .tv-container {
        width: 624px;
        height: 398px;
        top: 85px;
        left: calc(50vw - 237px)
    }
    .screen--home-shifted .tv-container__inner {
        width: 588px;
        height: 288px;
        top: 13px;
        left: 13px
    }
}

@media (max-width:767px) {
    .screen--home-shifted .tv-container {
        width: 384px;
        height: 245px;
        top: 64px;
        left: -75px
    }
    .screen--home-shifted .tv-container__inner {
        width: 362px;
        height: 360px;
        top: 9px;
        left: 10px
    }
    .screen--home-shifted .home-background {
        -webkit-transform: none;
        transform: none
    }
    .screen--home-shifted .dots-block__arrows .arrow-circle--inner {
        -webkit-animation: inner-dot-pop-mobile .5s forwards;
        animation: inner-dot-pop-mobile .5s forwards;
        -webkit-animation-delay: .6s;
        animation-delay: .6s
    }
    .screen--home-shifted .dots-block__arrows--extending .arrow-line--mobile-1 {
        width: calc(100% - 12px)
    }
    .screen--home-shifted .dots-block__arrows--extending .arrow-line--mobile-2 {
        height: 108px;
        top: -58px
    }
    .screen--about,
    .select-section--advertiser,
    .screen-variation__links {
        padding-bottom: 50px;
    }
}