.screen--careers {
	background: #df715a;
	color: #fff;
	overflow: hidden;
}

.careers-top {
	height: 37%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	font-family: RobotoCondensed, sans-serif;

	h2,
	span,
	p {
		z-index: 2;
	}

	h2 {
		font-size: 50px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1;
	}

	span {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 25px;
	}

	p {
		font-size: 15px;
		width: 680px;
		text-align: center;
	}

	@media (max-width: 1024px) {

		h2 {
			font-size: 38px;
		}

		span {
			font-size: 13px;
			margin-bottom: 15px;
		}

		p {
			font-size: 14px;
			width: 100%;
			max-width: 640px;
			padding: 0 20px;
		}
	}

	@media (max-width: 767px) {

		h2 {
			font-size: 24px;
		}

		span {
			font-size: 11px;
		}

		p {
			font-size: 13px;
		}
	}
}

.careers-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	z-index: 1;
	height: 200%;
}

.careers-bottom {
	height: 63%;
	background: #ce6852;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-bottom: 40px;

	p {
		font-size: 15px;
		font-weight: 700;
		width: 680px;
		text-align: center;
	}

	@media (max-width: 1024px) {
		padding-bottom: 30px;

		p {
			font-size: 14px;
			width: 100%;
			max-width: 640px;
			padding: 0 20px;
		}
	}

	@media (max-width: 767px) {
		font-size: 13px;
	}
}

.quotes-block {
	font-style: italic;
	line-height: 2;
	font-size: 15px;
	text-align: center;
	margin-bottom: 40px;
	font-family: Georgia, serif;
}

.quote-single {
	display: block;
}

.careers-buttons {
	margin-top: 60px;
	width: 540px;
}

.careers-info-toggle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 66px;
	width: 260px;
	border-radius: 4px;
	background: #ebebeb;
	cursor: pointer;

	h3 {
		font-size: 14px;
		text-transform: uppercase;
		color: #333;
		font-weight: 700;
	}

	span {
		font-size: 14px;
		color: #ce6852;
	}

	&--host {
		float: right;
	}

	&--advertising {
		float: left;
	}
}

.sliding-content {
	width: 920px;
	height: 100%;
	max-height: calc(100% - 100px);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 120%);
	background: #fff;
	color: #333;
	text-align: center;
	z-index: 2;
	box-shadow: 0 0 40px 0 #000;
	transition: transform 0.3s ease-in;

	&.visible {
		transform: translate(-50%, 0);
	}

	&__container {
		height: calc(100% - 90px);
		margin: 60px 60px 30px;
	}

	h2 {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1;
	}

	h3 {
		color: #ce6852;
		font-size: 20px;
		margin-bottom: 30px;
		font-family: RobotoCondensed, sans-serif;
	}

	h4 {
		color: #ce6852;
		font-size: 14px;
		text-transform: uppercase;
		font-family: RobotoCondensed, sans-serif;
		margin-bottom: 25px;
	}

	p,
	ul {
		font-size: 15px;
	}

	p {
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			color: #ce6852;
		}
	}

	ul {
		margin-bottom: 50px;
		list-style-type: disc;
		text-align: left;
		font-weight: 700;
		margin-left: 20px;
	}

	li {
		color: #ce6852;

		span {
			color: #333;
		}
	}
}

.sliding-content__advertising,
.sliding-content__host {
	display: none;

	&.visible {
		display: block;
	}
}

.sliding-content-close {
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;

	img {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 1024px) {

	.quotes-block {
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 30px;
	}

	.careers-buttons {
		margin-top: 40px;
	}

	.sliding-content {
		width: 708px;

		&__container {
			height: calc(100% - 65px);
			margin: 40px 40px 15px;
		}
	}
}

@media (max-width: 767px) {

	.quotes-block {
		font-size: 12px;
		line-height: 1.4;
		margin-bottom: 20px;
	}

	.careers-buttons {
		margin-top: 20px;
	}

	.sliding-content {
		padding: 20px;
		width: 100%;

		h2 {
			font-size: 16px;
		}

		h3 {
			font-size: 14px;
			margin-bottom: 20px;
		}

		h4 {
			font-size: 13px;
			margin-bottom: 15px;
		}

		p,
		ul {
			font-size: 13px;
		}

		p {
			margin-bottom: 15px;
		}

		ul {
			margin-bottom: 30px;
			margin-left: 20px;
		}
	}

	.careers-buttons {
		width: 100%;
		padding: 0 20px;
	}

	.careers-info-toggle {
		width: 135px;
		height: 42px;

		h3 {
			font-size: 11px;
		}

		span {
			font-size: 10px;
		}
	}
}