.screen--faq_menu {
	background: #df715a;
}

.faq-variation {
	height: 100%;
	display: none;

	&.visible {
		display: block;
	}
}

.contact-page-link-button {
	display: none;
	width: 340px;
	height: 70px;
	line-height: 70px;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	color: #333;
	text-transform: uppercase;
	border-radius: 5px;
	background: #fff;
	margin-bottom: 40px;
	cursor: pointer;

	@media (max-width: 767px) {
		width: 280px;
		height: 48px;
		line-height: 48px;
		font-size: 12px;
		margin-bottom: 15px;
	}
}

.faq-menu-item {
	transition: height 0.3s ease-in, background 0.3s ease-in;
	height: calc(100% / 3);
	position: relative;
	overflow: hidden;
	cursor: pointer;

	h2 {
		text-align: center;
		transition: height 0.3s ease-in;
	}

	.carousel-section {
		display: none;
	}

	&.active {
		height: calc(100% - 160px);
		background: #df715a;
		cursor: default;

		h2 {
			display: none;
		}

		.slide-arrows {
			display: none !important;
		}

		.carousel-section {
			display: block;
		}

		.contact-page-link-button {
			display: block;
		}
	}

	&.inactive {
		height: 80px;
		margin-bottom: 4px;
		background: #df715a;
		cursor: pointer;

		&:last-of-type {
			margin-bottom: 0;
		}

		h2 {
			width: 100%;
			font-weight: 400;
			height: 80px;
			line-height: 80px;
			background: rgba(255, 255, 255, 0.09);
			text-align: center;
		}

		.slide-arrows {
			display: none !important;
		}
	}

	@media (max-width: 767px) {

		h2 {
			font-size: 16px;
		}

		&.active {
			height: calc(100% - 128px);
		}

		&.inactive {
			height: 62px;

			h2 {
				height: 62px;
				line-height: 62px;
				font-size: 12px;
			}
		}
	}
}

.faq-variation--2-items {

	.faq-menu-item {
		height: 50%;

		&.hovered {
			height: 66.66666%;
		}

		&.neighbour-hovered {
			height: 33.33333%;
		}

		&.active {
			height: calc(100% - 80px);
		}

		&.inactive {
			height: 80px;
			margin-bottom: 0 !important;
		}
	}

	@media (max-width: 767px) {

		.faq-menu-item {

			&.active {
				height: calc(100% - 62px);
			}

			&.inactive {
				height: 62px;
			}
		}
	}
}