.carousel-section {
	width: 100%;
	height: 100%;

	&__main {
		width: 100%;
		height: 100%;
	}
}

.carousel-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.carousel-item {
	transition: transform 0.3s ease-in;
	width: 483px;
	height: 483px;
	background: url(../img/carousel_bg.png) no-repeat;
	background-size: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: calc(50% - 240px);
	left: calc(50% - 240px);
	will-change: transform;

	&__icon {
		width: 15%;
		margin-bottom: 5%;

		img {
			width: 100%;
		}
	}

	&__text {
		font-family: Georgia, serif;
		color: #df715a;
		width: 75%;
		margin-bottom: 5%;
		line-height: 1.2;
		font-size: 26px;
	}

	&__caption {
		font-size: 13px;
		color: #333;
	}

	&[data-carousel-item="1"] {
		transform: translateY(-11%) translateZ(0) perspective(1px);
		z-index: 3;
	}

	&[data-carousel-item="2"] {
		transform: scale(0.45) translate(227%, -62%) rotateZ(-18deg) translateZ(0) perspective(1px);
		//transform: scale(0.45) translate(1100px, -300px) rotateZ(-18deg);
		z-index: 2;
	}

	&[data-carousel-item="3"] {
		transform: scale(0.4) translate(307%, 26%) translateZ(0) perspective(1px);
		//transform: scale(0.4) translate(1485px, 120px);
		z-index: 1;
	}

	&[data-carousel-item="4"] {
		transform: scale(0.38) translate(188%, 96%) rotateZ(-22deg) translateZ(0) perspective(1px);
		//transform: scale(0.38) translate(910px, 465px) rotateZ(-22deg);
	}

	&[data-carousel-item="5"] {
		transform: scale(0.58) translate(-201%, 61%) translateZ(0) perspective(1px);
		//transform: scale(0.58) translate(-970px, 295px);
	}

	&[data-carousel-item="6"] {
		transform: scale(0.6) translate(-157%, -33%) rotateZ(-15deg) translateZ(0) perspective(1px);
		//transform: scale(0.6) translate(-760px, -160px) rotateZ(-15deg);
		z-index: 1;
	}

	@media (max-width: 1439px) {

		$scale: 0.7;

		&[data-carousel-item="1"] {
			transform: scale($scale) translateY(-11% * $scale) perspective(1px);
		}

		&[data-carousel-item="2"] {
			transform: scale(0.45 * $scale) translate(227%, -62%) rotateZ(-18deg) perspective(1px);
		}

		&[data-carousel-item="3"] {
			transform: scale(0.4 * $scale) translate(307%, 26%) perspective(1px);
		}

		&[data-carousel-item="4"] {
			transform: scale(0.38 * $scale) translate(188%, 96%) rotateZ(-22deg) perspective(1px);
		}

		&[data-carousel-item="5"] {
			transform: scale(0.58 * $scale) translate(-201%, 61%) perspective(1px);
		}

		&[data-carousel-item="6"] {
			transform: scale(0.6 * $scale) translate(-157%, -33%) rotateZ(-15deg) perspective(1px);
		}
	}

	@media (max-width: 1023px) {

		$scale: 0.55;

		&[data-carousel-item="1"] {
			transform: scale($scale) translateY(-11% * $scale) perspective(1px);
		}

		&[data-carousel-item="2"] {
			transform: scale(0.45 * $scale) translate(227%, -62%) rotateZ(-18deg) perspective(1px);
		}

		&[data-carousel-item="3"] {
			transform: scale(0.4 * $scale) translate(307%, 26%) perspective(1px);
		}

		&[data-carousel-item="4"] {
			transform: scale(0.38 * $scale) translate(188%, 96%) rotateZ(-22deg) perspective(1px);
		}

		&[data-carousel-item="5"] {
			transform: scale(0.58 * $scale) translate(-201%, 61%) perspective(1px);
		}

		&[data-carousel-item="6"] {
			transform: scale(0.6 * $scale) translate(-157%, -33%) rotateZ(-15deg) perspective(1px);
		}
	}

	@media (max-width: 767px) {
		transition: filter 0.2s ease-in;
		width: 262px;
		height: 366px;
		background: url(../img/carousel_bg-s.png) no-repeat;
		background-size: 100% 100%;
		cursor: default;
		position: absolute;
		top: calc(50% - 10px);
		left: 50%;
		transform: scale(0.6) translate(-50%, -50%) perspective(1px) !important;
		will-change: transform, filter;
		z-index: 0 !important;
		visibility: hidden;

		&__icon {
			width: auto;
			height: 35px;
			margin-bottom: 20px;

			img {
				height: 100%;
				width: auto;
			}
		}

		&__text {
			width: 70%;
			margin-bottom: 30px;
			line-height: 1.4;
			font-size: 15px;
		}

		&__caption {
			font-size: 10px;
		}

		&[data-carousel-item="1"] {
			transform: translate(-50%, -50%) perspective(1px) !important;
			z-index: 1 !important;
			visibility: visible;
		}

		&[data-carousel-item="2"] {
			transform: scale(0.6) translate(-35%, -80%) perspective(1px) !important;
			filter: blur(5px);
			visibility: visible;
		}

		&[data-carousel-item="6"] {
			transform: scale(0.6) translate(-135%, -80%) perspective(1px) !important;
			filter: blur(5px);
			visibility: visible;
		}
	}
}

.carousel-controls {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);

	&__btns {
		margin-bottom: 10px;
		display: none;

		> div {
			display: inline-block;
			background: rgba(255, 255, 255, 0.3);
			padding: 8px 20px;
			font-size: 12px;
			text-transform: uppercase;
			color: #333;
			user-select: none;
			cursor: pointer;
		}
	}

	&__dots {
		text-align: center;

		span {
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: 1px solid #fff;
			margin-right: 5px;
			cursor: pointer;
			opacity: 0.7;

			&.active {
				background: #ebebeb;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	@media (max-width: 767px) {
		bottom: 5px;
	}
}

.carousel-prev {
	margin-right: 5px;
}