.screen--faq_menu {
	background: #df715a;
}

.faq-variation {
	height: 100%;
	display: none;

	&.visible {
		display: block;
	}
}

.contact-page-link-button {
	display: none;
	width: 340px;
	height: 70px;
	line-height: 70px;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	color: #333;
	text-transform: uppercase;
	border-radius: 5px;
	background: #fff;
	margin-bottom: 40px;
	cursor: pointer;
}

.faq-menu-item {
	transition: height 0.3s ease-in, background 0.3s ease-in;
	height: calc(100% / 3);
	position: relative;
	overflow: hidden;
	cursor: pointer;

	h2 {
		transition: height 0.3s ease-in;
	}

	.carousel-section {
		display: none;
	}

	&.active {
		height: calc(100% - 160px);
		background: #df715a;
		cursor: default;

		h2 {
			display: none;
		}

		.slide-arrows {
			display: none !important;
		}

		.carousel-section {
			display: block;
		}

		.contact-page-link-button {
			display: block;
		}
	}

	&.inactive {
		height: 80px;
		margin-bottom: 4px;
		background: #df715a;
		cursor: pointer;

		&:last-of-type {
			margin-bottom: 0;
		}

		h2 {
			width: 100%;
			font-weight: 400;
			height: 80px;
			line-height: 80px;
			background: rgba(255, 255, 255, 0.09);
			text-align: center;
		}

		.slide-arrows {
			display: none !important;
		}
	}

	@media (max-width: 767px) {
		height: 62px;

		&__name {
			height: 62px;
			line-height: 62px;
			font-size: 11px;
		}

		&--active {
			height: calc(100% - 124px);
		}
	}
}