.screen--contact {
	background: #df715a;
}

.contact-content {
	text-align: center;
	color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: RobotoCondensed, sans-serif;

	h2 {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 25px;
		text-transform: uppercase;

		span {
			display: none;

			&.visible {
				display: inline;
			}
		}
	}
}

.contact-form {
	margin-bottom: 25px;

	.input-container {
		margin-bottom: 6px;
		width: 560px;

		:-moz-placeholder {
			color: inherit;
		}

		::-webkit-input-placeholder {
			color: inherit;
		}

		:-ms-input-placeholder {
			color: inherit;
		}

		::-moz-placeholder {
			color: inherit;
		}
	}

	input {
		-moz-appearance: none;
		-webkit-appearance: none;
		height: 70px;
		line-height: 70px;
		width: 100%;
		border-radius: 4px;
		background: rgba(255, 255, 255, 0.16);
		font-family: inherit;
		color: inherit;
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		border: none;
		box-shadow: none;

		&:focus {
			outline: none;
			border: none;
			box-shadow: none;
		}

		&[type="submit"] {
			width: 50%;
			margin: 0 auto;
			color: #333;
			font-weight: 700;
			background: #fff;
			cursor: pointer;
		}
	}
}

.address-details {
	font-size: 14px;
	line-height: 1.2;

	span {
		display: block;
		text-align: center;
	}

	a {
		text-decoration: underline;
		color: inherit;
	}
}

.contact-thankyou {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	transform: translateX(100%);
	overflow: hidden;
	background: #df715a;
	color: #fff;
	transition: transform 0.3s ease-in;

	&.visible {
		transform: translateX(0);
	}

	.logo-container,
	h2,
	span{
		z-index: 2;
	}

	h2 {
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
	}

	span {
		font-size: 14px;
	}
}

.thankyou-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 140%;
	z-index: 1;
}

